body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #3b5998;
}

.card {
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alert {
    margin-bottom: 20px;
}
